{% extends "base.html" %}

{% block title %}
QUIZO | Contact
{% endblock %}

{% block body %}
<div style="font-size: 30px; margin-top: 2rem;">
   Social tarmaqlarda bizge aǵza bolıń:
</div>
<a href="https://www.facebook.com/quwanish.bakirov"><strong>Facebook</strong></a> <br>
<a href="https://www.instagram.com/bakirov.quwanish/"><strong>Instagram</strong></a> <br>
<a href="https://twitter.com/quwanish3110"><strong>Twitter</strong></a> <br>
<a href="https://github.com/quwanishbakirov"><strong>GitHub</strong></a>

{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/register" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Dizimnen ótiw
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link">
      <p>
        Kiriw
      </p>
    </a>
  </li>
{% endblock %}